{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "standard",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    
  },
  "overrides": [
    {
      "files": [
        "**/*.jsx"
      ],
      "rules": {
        "react/prop-types": 0
      }
    },
    {
      "files": [
        "**/*.html"
      ],
      "plugins": [
        "eslint-plugin-html"
      ]
    }
  ]
}