.button {
  color: whitesmoke;
  background-color: #c16500;
  width: 100%;
  min-height: 51px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.button:hover {
  background-color: #a75702;
}

.space-between {
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px;
  border-color: #d7d8d8;
  border-style: solid;
  font-family: "Atlas Grotesque", sans-serif;
  font-size: 18px;
  background-color: rgba(223, 152, 48, 0.5);
  color: #c16500;
}

input::placeholder {
  color: var(--darkbrown-color);
}

input:focus {
  background-color: rgba(223, 152, 48, 0.3);
  outline: none;
  color: #c16500;
}

h1 {
  color: #717171;
}

.egg-logo {
  background-image: url("./egg.svg");
  background-position: center;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  margin-bottom: 0.3rem;
}

.sign-up-input {
  border-bottom: 1px solid var(--darkbrown-color);
  background-color: transparent;
  border-right: none;
  border-radius: 0%;
  border-left: none;
  border-top: none;
  width: 100%;
}

.sign-up-input::placeholder {
  color: var(--light-brown);
  letter-spacing: 0.15rem;
}

.sign-up-input:focus {
  background-color: transparent;
}

.sign-up-column {
  padding-top: 2rem;
  position: fixed;
  background-color: var(--egg-white);
  width: 100%;
  height: 70vh;
  bottom: 0;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  z-index: 5;
}

.submit-sign-up {
  margin-top: 2rem;
}

.password-check {
  color: red;
}

.egg-text {
  color: #c16500;
  font-weight: 700;
  font-size: 50px;
}

.drop-text {
  color: #df9830;
  font-weight: 700;
  font-size: 50px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.dark-brown {
  color: var(--darkbrown-color);
}

.login {
  margin-top: 2rem;
}

.light {
  font-weight: 300;
}

.question {
  position: fixed;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.instructions-button {
  padding: 1rem 2rem;
  font-size: 18px;
}

.upper-left {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  padding: 0.1rem;
  margin: 0.1rem;
  cursor: pointer;
  color: lightgray;
}

.relative {
  position: relative;
}

.navbar-map {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
}

.navbar-map i {
  color: #fc0;
  cursor: pointer;
}

.file-input {
  display: none;
}

.file-input + label {
  width: 100%;
  border-radius: 6px;
  padding: 6px 12px;
  border: 1px;
  border-color: #d7d8d8;
  border-style: solid;
  font-family: "Atlas Grotesque", sans-serif;
  font-size: 18px;
  background-color: rgba(223, 152, 48, 0.5);
  color: #c16500;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.file-input + label:hover {
  background-color: #c16400b4;
  color: white;
}

.p1 {
  padding: 0.3rem;
}

.red {
  color: red;
  margin-bottom: 1rem;
}

.green {
  color: green;
}

.center-text {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.egg-details-img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.egg-details-message {
  font-family: Mulish, sans-serif;
  font-weight: 600;
  font-size: xx-large;
}

.claimed-egg-button {
  background-color: #ca863e;
}

.profile-pic {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
}

.profile-name {
  color: #acacac;
}

.profile-square {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0.5rem;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.profile-icons {
  padding: 1rem;
  color: #acacac;
  cursor: pointer;
}

.profile-icons:hover {
  color: rgb(209, 199, 186);
}

.profile-brown {
  background-color: #ede3d6;
  min-width: 375;
  max-width: 1000;
}

.profile-gray {
  background-color: #eeebeb;
}

.profile-gray-text {
  color: #8b8484;
  font-size: 20px;
}

.profile-gray-text-bold {
  color: #656565;
  font-weight: 800;
  font-size: 22px;
}

.profile-header-bottom {
  padding-bottom: 1rem;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -20px;
}

.egg-images {
  object-fit: cover;
  object-position: center;
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
  transition: all 1s;
  overflow: hidden;
}

.egg-images:hover {
  transform: scale(1.1);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.circle {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.space-around {
  justify-content: space-around;
}

.profile-p {
  margin: 0;
}

.profile-h1 {
  margin: 0.7;
}

.profile-egg-icons-div {
  margin-top: 0.3rem;
}
